In [1]:
from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime

## Group Assignment
### Team Number: XX
### Team Member Names: Sherry, Kelly, Ifan
### Team Strategy Chosen: SAFE

In [12]:
tickers_df = pd.read_csv('Tickers_Example.csv')
#When the CSV file is read, it takes the first ticker and makes it the name of the column, so we need to extract it
tickers_list = list(tickers_df.columns)
#Now add the rest of the tickers in after it:
tickers_list += tickers_df.iloc[:, 0].tolist()
tickers_num = len(tickers_list)

#Dates to pull closing data from, change as needed
start_date = '2020-01-01'
end_date = '2022-01-02'

# Dictionary of all the stocks
stocks_dict = {}
stocks_full_info = {}

def get_closing_prices(ticker, start, end):
    stock = yf.Ticker(ticker)
    hist = stock.history(start=start, end=end) #Daily
    return hist.Close

for i in range (tickers_num):
    stocks_dict[tickers_list[i]] = get_closing_prices(tickers_list[i], start_date, end_date)
    stocks_full_info[tickers_list[i]] = yf.Ticker(tickers_list[i])

# Create DataFrame
prices = pd.DataFrame(stocks_dict)
#Some of the stocks are delisted, so if we uncomment this now, it'll delete the entire DataFrame
#prices = prices.dropna() 

prices

- AGN: No data found, symbol may be delisted
- CELG: No data found, symbol may be delisted
- PCLN: No data found for this date range, symbol may be delisted
- RTN: No data found, symbol may be delisted
- TWX: No data found for this date range, symbol may be delisted

,AAPL,ABBV,ABT,ACN,AGN,AIG,AMZN,AXP,BA,BAC,...,SPG,T,TD.TO,TGT,TWX,TXN,UNH,UNP,UPS,USB
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-02,73.561539,77.932617,82.906258,201.554703,NaN,47.586323,94.900497,121.071243,331.348572,33.473255,...,123.889435,22.740847,64.691460,119.371849,NaN,119.591980,281.049622,172.249100,107.104660,53.313938
2020-01-03,72.846375,77.192879,81.895561,201.219040,NaN,47.218586,93.748497,119.868721,330.791901,32.778252,...,124.111443,22.857887,64.638603,118.131439,NaN,118.004433,278.205505,171.030029,107.040474,52.692547
2020-01-06,73.426826,77.802071,82.324623,199.905045,NaN,47.255352,95.143997,119.349213,331.766083,32.731289,...,124.760384,22.881294,64.647392,117.014153,NaN,117.182976,280.136841,169.565262,106.563599,51.972088
2020-01-07,73.081497,77.358238,81.866943,195.589096,NaN,46.988747,95.343002,118.723923,335.285156,32.515274,...,123.342949,22.969078,64.576912,117.222450,NaN,119.444305,278.445770,168.279999,106.380188,51.476765
2020-01-08,74.257103,77.906494,82.200661,195.972778,NaN,47.540359,94.598503,120.773026,329.410095,32.843994,...,124.154121,23.039301,65.079163,116.843689,NaN,119.767319,284.316559,170.122787,106.985451,51.368702
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,70.546982,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,82.060135,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-07-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,82.758919,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-11-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,92.443596,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,92.626350,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

Insert Names Here.